body {
    font-family: sans-serif;
    font-size: 18px;
}

header {
    background-color:steelblue;
}

footer {
    background-color: steelblue;
    padding: 5px;
}

footer p {
    padding-left: 30px;
    color: white;
}

header a {
    display: inline-block;
    background-color: orange;
    padding: 0px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 30px;
    text-decoration: none;
    color: black;
}

header img {
    margin-left: 10px;
    margin-top: 10px;
}

h1 {
    text-align: center;
}

main img {
    margin: 10px;
}

main h2 {
    color: rgb(226, 57, 27);
}

main ul {
    margin: 30px;
    list-style: url("https://learn.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg");
}

main p {
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    font-size: 30px;
    text-align: center;
    padding: 30px;
}
